<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Habbit Rabbit</title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Arima+Madurai|Merriweather" rel="stylesheet">
    



    </head>
    <body>


        {{{ body }}}
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="assets/js/signup.js"></script>
        <script type="text/javascript" src="assets/js/login.js"></script>
        <script type="text/javascript" src="assets/js/members.js"></script>
        <script type="text/javascript" src="assets/js/recipe.js"></script>
        <script type="text/javascript" src="assets/js/favrecipes.js"></script>
        <script type="text/javascript" src="assets/js/index.js"></script>


    </body>
</html>