<nav>
    <div class="navbar">
        <div class="navbar__Container">
            <div class="navbar__Container--header">
                <a class="navbar__Container--link1" href="/logout">
                    Logout
                </a>
                <a class="navbar__Container--link3" href="/profile">
                    Profile
                </a>
                <a class="navbar__Container--link2" href="/home">
                    Home
                </a>
            </div>
            
            <div class="navbar__Container--main">

                <text class="navbar__Container--welcome">Welcome <span class="member-name"></span>! You are logged in!</text>

                <img class="navbar__Container--img" src="/assets/images/logo2_Running_Transparent.png" alt="Habit-Rabbit Logo">

                <text class="navbar__Container--quote" id="logo"><h1 id="quote"></h1></text>
               
            </div>
        </div>
    </div>
    
</nav>

<section class="hero-area">
  <div class="hero-slides owl-carousel">
    {{#each activities}}
    <div class="single-hero-slide bg-img" style="background-image: url('{{activity_img}}');">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
              <h2 data-animation="fadeInUp" data-delay="300ms">{{activity_name}}</h2>
              <p class= "activity_Description"data-animation="fadeInUp" data-delay="700ms">{{description}}</p>
              <a href="#" class="activity_Button" data-animation="fadeInUp" data-delay="1000ms">See Activity</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>


<style>

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>
      <div id="modal-activity">Activity info</div>
    </p>
  </div>

</div>

<script type="text/javascript" src="../public/assets/js/signup.js"></script>

<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal 
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
<footer>
    <div class="containerFooter">
        <div class="containerFooter__copyright">
            © habbit rabbit enterprises
        </div>
        <div class="containerFooter__logo">
            <img class="containerFooter__logo--img" src="/assets/images/logo2_Running_Transparent.png" alt="Habit-Rabbit Logo">
        </div>
    </div>
</footer>