
<video autoplay muted loop id="splashVideo">
    <source src="/assets/images/Keep_Running.mp4" type="video/mp4">
</video>
<nav>
    <div class="navbar">
        <div class="navbar__Container">
                
            <div class="navbar__Container--main">

                <h1><text class="navbar__Container--welcome">Hello, <span class="member-name"></span>! </text></h1>

                <h3><text class="navbar__Container--quote" id="logo"><h1 id="quote"></text></h3>
               
            </div>
            <div class="navbar__Container--header">
                <a class="navbar__Container--link1" href="/logout">
                    Logout
                </a>

                <a class="navbar__Container--link3" href="/profile">
                    Profile
                </a>

                <a class="navbar__Container--link2" href="/home">
                    Home
                </a>

            </div>
        </div>
    </div>

</nav>


<div class="favorites-container">
    {{#each recipes}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{recipe_img}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{recipe_name}}</h5>
            <p class="card-text">{{recipe_description}}</p>
            <a href="#" class="btn btn-primary">See Recipe!</a>

        </div>
        <div class="containerFooter__logo">
            <img class="containerFooter__logo--img" src="/assets/images/logo_transparent.png" alt="Habit-Rabbit Logo">
        </div>
    </div>
    {{/each}}
</div>

