
    <header>
        <nav>
            <div class="nav-wrapper black accent-2 z-depth-5">
                {{!-- <div class="col s12">
                    <img src="bunny.jpg">
                </div> --}}
                <div class="col s12">
                    <a href="/" class="brand-logo" id="logo">
                        <h1 class="z-depth-5">Habit Rabbit</h1>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 z-depth-5 mainpanel">
                    <button id="recipes">
                        <h2 class="z-depth-5">Recipes!</h2>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col s12 z-depth-5 mainpanel">
                    <button id="activities">
                        <h2 class="z-depth-5">Activities!</h2>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col s6 z-depth-5 mainpanel">
                    <button id="Habit">
                        <h2 class="z-depth-5">Habit</h2>
                    </button>
                </div>
                <div class="col s6 z-depth-5 mainpanel">
                    <button id="Habit">
                        <h2 class="z-depth-5"><a href = "/survey">Rabbit</a></h2>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer black accent-2 z-depth-5">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>
                        <a href="https://www.linkedin.com/in/lindseynicolewalker/" target="_blank">Linkedin | </a>
                        <a href="https://github.com/lindsnicolewalker/Burger" target="_blank">GitHub Repo</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © habit rabbit enterprises
            </div>
        </div>
    </footer>
