

<video autoplay muted loop id="splashVideo">
    <source src="/assets/images/Keep_Running.mp4" type="video/mp4">
</video>

<nav>
    <div class="navbar">
        <div class="navbar__Container">
            

            
            <div class="navbar__Container--main">

                <h1><text class="navbar__Container--welcome">Hello, <span class="member-name"></span>! <i class="fa fa-smile-o"></i></text></h1>

                <h3><text class="navbar__Container--quote" id="logo"><h1 id="quote"></text></h3>
                
               

            </div>

            <div class="navbar__Container--header">
                <a class="navbar__Container--link1" href="/logout">
                    Logout
                </a>

                <a class="navbar__Container--link3" href="/profile">
                    Profile
                </a>

                <a class="navbar__Container--link2" href="/home">

                 <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    
</nav>

<main>
    <div class="home">
        <div class="home__Container">
            <a href="/recipe" class="home__Container--button1">Recipe</a>
            <a href="/activity" class="home__Container--button2">Activity</a>
            <a href="/favactivities" class="home__Container--button3"><i class="fa fa-heart" aria-hidden="true"></i><i class="fa fa-clipboard" aria-hidden="true"></i></a>
            <a href="/favrecipes" class="home__Container--button4"><i class="fa fa-heart" aria-hidden="true"></i><i class="fa fa-dumbbell" aria-hidden="true"></i></a>

        </div>
    </div>

</main>

                    <img src = "https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6ki...WHqRZLnx7NwXs1M3EMoAJtlSQqg...Fi9...8y">

