<nav>
    <div class="navbar">
        <div class="navbar__Container">
            <div class="navbar__Container--header">
                <a class="navbar__Container--link1" href="/logout">
                    Logout
                </a>
                <a class="navbar__Container--link2" href="/home">
                    Home
                </a>
            </div>
            <!--navbar__Container_header-->
            <div class="navbar__Container--main">

                <text class="navbar__Container--welcome">Welcome <span class="member-name"></span>! You are logged in!</text>
                <img class="navbar__Container--img" src="/assets/images/logo_transparent.png" alt="Habit-Rabbit Logo">
            </div>
            <!--navbar__Containermain-->
        </div>
        <!--navbar__Container-->
    </div>
</nav>

<main>
    <div class="home">
        <div class="home__Container">
<a href="/recipe" class="home__Container--button1">Recipes</a>
<a href="/activity" class="home__Container--button2">Activity</a>
<a href="/favactivities" class="home__Container--button3">Habbit</a>
<a href="/favrecipes" class="home__Container--button4">Rabbit</a>


        </div>
        </div>
            {{!-- <div class="col s12 z-depth-5 mainpanel">
                <button id="recipes">
                    <h2 class="z-depth-5"><a href="/recipe">Recipes</a></h2>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col s12 z-depth-5 mainpanel">
                <button id="activities">
                    <h2 class="z-depth-5"><a href="/activity">Activities</a></h2>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col s6 z-depth-5 mainpanel">
                <button id="Habit">
                    <h2 class="z-depth-5"><a href="/favactivities">Habbit</a></h2>
                </button>
            </div>
            <div class="col s6 z-depth-5 mainpanel">
                <button id="Habit">
                    <h2 class="z-depth-5"><a href="/favactivities">Rabbit</a></h2>
                </button>
            </div>
        </div>
    </div> --}}
</main>
<footer>
    <div class="containerFooter">
        <div class="containerFooter__copyright">
            © habit rabbit enterprises
        </div>
        <div class="containerFooter__logo">
            <img class="containerFooter__logo--img" src="/assets/images/logo_transparent.png" alt="Habit-Rabbit Logo">
        </div>
    </div>
</footer>