<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes and Activities</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/index_style.css" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper black accent-2 z-depth-5">
                {{!-- <div class="col s12">
                    <img src="bunny.jpg">
                </div> --}}
                <div class="col s12">
                    <a href="/" class="brand-logo" id="logo">
                        <h1 class="z-depth-5">Habit Rabbit</h1>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 z-depth-5 mainpanel">
                    <button id="recipes">
                        <h2 class="z-depth-5">Recipes!</h2>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col s12 z-depth-5 mainpanel">
                    <button id="activities">
                        <h2 class="z-depth-5">Activities!</h2>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col s6 z-depth-5 mainpanel">
                    <button id="Habit">
                        <h2 class="z-depth-5">Habit</h2>
                    </button>
                </div>
                <div class="col s6 z-depth-5 mainpanel">
                    <button id="Habit">
                        <h2 class="z-depth-5">Rabbit</h2>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer black accent-2 z-depth-5">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>
                        <a href="https://www.linkedin.com/in/lindseynicolewalker/" target="_blank">Linkedin | </a>
                        <a href="https://github.com/lindsnicolewalker/Burger" target="_blank">GitHub Repo</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © habit rabbit enterprises
            </div>
        </div>
    </footer>

</body>

</html>