<nav>
    <div class="navbar">
        <div class="navbar__Container">
            <div class="navbar__Container--header">
                <a class="navbar__Container--link1" href="/logout">
                    Logout
                </a>
                <a class="navbar__Container--link3" href="/profile">
                    Profile
                </a>
                <a class="navbar__Container--link2" href="/home">
                    Home
                </a>
            </div>
            
            <div class="navbar__Container--main">

                <text class="navbar__Container--welcome">Welcome <span class="member-name"></span>! You are logged in!</text>

                <img class="navbar__Container--img" src="/assets/images/logo_transparent.png" alt="Habit-Rabbit Logo">

                <text class="navbar__Container--quote" id="logo"><h1 id="quote"></h1></text>
               
            </div>
        </div>
    </div>
    
</nav>

<footer>
    <div class="containerFooter">
        <div class="containerFooter__copyright">
            © habbit rabbit enterprises
        </div>
        <div class="containerFooter__logo">
            <img class="containerFooter__logo--img" src="/assets/images/logo_transparent.png" alt="Habit-Rabbit Logo">
        </div>
    </div>
</footer>