  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a class="navbar-brand" href="/home">
                    Home
                </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span>! You're already logged in!</h2>
        <h4>Your age: <span class="member-age"></span></h4>
        <h4>Your diet: <span class="member-diet"></span></h4>
        <h4>Email: <span class="member-email"></span></h4>

      </div>
    </div>
  </div>


