{{!-- <video autoplay muted loop id="splashVideo">
    <source src="/assets/images/Brooklyn-run.mp4" type="video/mp4">
</video> --}}
<video autoplay muted loop id="splashVideo">
    <source src="/assets/images/Keep_Running.mp4" type="video/mp4">
</video>
<section class="splash">
    <div class="splash__Logo">
        <img class="splash__Logo--img" src="/assets/images/logo2_Running_Transparent.png" alt="Habit-Rabbit Logo">
    </div>
    <div id="slider" class="slideUp">
        <div class="splash__Button">
            <button class="splash__Button--button">
                <h1 class="splash__Button--text"><a href="/signup">Start!</a></h1>
            </button>
        </div>
    </div>
    </div>