<section class = "splash">
<div class = "splash__Logo">
    <img class = "splash__Logo--img" src = "/assets/images/logo_transparent.png" alt = "Habit-Rabbit Logo">
</div>
<div class ="splash__Button">
<button id="Habit" class="splash__Button--button"><h1 class="splash__Button--text"><a href = "/signup">Start!</a></h1>
                    </button>
                    </div>
                    </div>
