
<video autoplay muted loop id="splashVideo">
   <div class="overlay"></div>
 <source src="/assets/images/Keep_Running.mp4" type="video/mp4">
</video>

splash__Button--text

<section class="splash">
    <div class="splash__Logo">
        <img class="splash__Logo--img" src="/assets/images/logo_transparent.png" alt="Habit-Rabbit Logo">
    </div>
    <div id="slider" class="slideUp">
        <div class="splash__Button">
            <button class="splash__Button--button">
                <h1 style="font-size: 5rem;" class="splash__Button--text"><a href="/signup">Start!  <i class="fa fa-paper-plane" aria-hidden="true"></i>
</a></h1>
            </button>
        </div>
    </div>
    </div>