// colors

$color-primary: #9BC18D;
$color-primary-light: #CEE0C7;
$color-primary-dark: #658361;
$color-primary-darkest: #222c21;

$color-secondary: #C16F38;

$color-secondary-dark: #60371c;

$color-tertiary:  #d0dd97;

//fonts