// colors

$color-primary: #646263;
$color-primary-light: #fffbe8;
$color-primary-dark: #8e8c81;
$color-primary-darkest: #2d2930;

$color-secondary: #907b4c;

$color-secondary-dark: #5a7670;
$color-secondary-darkest: #493e27;

$color-tertiary:  #ede6e7;
$color-accent: #3fb0ac;

//fonts
$font-serif: 'Merriweather', serif;
$font-sanSerif: 'Alegreya Sans', sans-serif;
$font-cursive: 'Arima Madurai', cursive;