
.navbar{
    &__Container{
        width: 100%;
        &--header{
            width: 100%;
            height: 5em;
            border-bottom: 2px solid $color-primary-dark;
            background-image: linear-gradient(-90deg, $color-primary-dark,$color-primary);
            // background-color: $color-secondary;
            padding: 1em 0em 1em 0em;
            overflow: hidden;
            position: fixed;
            top: 0;
        }
        &--link1{
            font-size: 2em;
            padding: .6em 1em .6em 1em;
            background-color: $color-tertiary;
            color: $color-primary-dark;
            border-right: 1px solid $color-primary-dark;  
        }
        &--link1:hover{
            color: $color-tertiary;
            background-color: $color-secondary-dark;
        }
        &--link3{
            font-size: 2em;
            padding: .6em 1em .6em 1em;
            background-color: $color-tertiary;
            color: $color-primary-dark;
            border-right: 1px solid $color-primary-dark;  
        }
        &--link3:hover{
            color: $color-tertiary;
            background-color: $color-secondary-dark;
        }
        &--link2{
            font-size: 2em;
            padding: .6em 1em .6em 1em;
            background-color: $color-tertiary;
            color: $color-primary-dark;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            border-right: 1px solid $color-primary-dark;
        }
        &--link2:hover{
            color: $color-tertiary;
            background-color: $color-secondary-dark;
            
        }

        &--main{
            padding-top: 5em;
            width: 100%;
            height: 20em;
            // border-bottom: 2px solid $color-secondary-dark;
            // background-color: $color-primary-darkest;
            background-image: radial-gradient($color-secondary-darkest,$color-primary-darkest);
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // box-shadow: 0px 10px 8px $color-primary-dark;

        }
        &--img{
            height: 20em;
        }
        &--welcome{
            color: $color-primary-light;
            padding-left: 1em;
            font-size: 2em;
            

        }
        &--quote{
            color: $color-secondary-dark;
            font-family: $font-cursive;
            padding-right: 1em;
        }
     
    
    
    }
    
}



