body {
  margin: 0;
  padding: 0;
  background-color: #9BC18D;
  font-family: 'Bitter', serif; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .splash__Logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .splash__Logo {
        position: absolute;
        left: 50%;
        top: 35%; } }
  @media only screen and (max-width: 56.25em) and (max-width: 56.25em) {
    .splash__Logo--img {
      width: 800px; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .splash__Logo--img {
      width: 600px; } }
  .splash__Button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%); }
    .splash__Button--button {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      border: solid 1px transparent;
      border-radius: 2em;
      font-family: 'Bitter', serif;
      color: #CEE0C7;
      background-color: #C16F38;
      padding: 1em 7em;
      margin: 2em; }
    .splash__Button--button:active {
      transform: translateY(1px);
      filter: saturate(150%); }
    .splash__Button--button:hover {
      color: #C16F38;
      background-color: #CEE0C7;
      border: solid 2px #C16F38; }
    .splash__Button__text {
      text-decoration: none;
      color: #CEE0C7; }
    .splash__Button__text:link {
      text-decoration: none;
      color: #CEE0C7; }

a {
  text-decoration: none;
  font-size: 2em;
  color: #CEE0C7; }

a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  color: #CEE0C7; }

a:visited {
  /* Applies to all visited links */
  text-decoration: none; }

a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
  color: #C16F38; }

a:active {
  /* Applies to activated links */
  text-decoration: none; }

.containerSignUp {
  font-family: 'Bitter', serif; }
  .containerSignUp__heading {
    text-align: center;
    font-size: 4em;
    color: #60371c; }
  .containerSignUp__message {
    font-size: 2em;
    color: #60371c; }
  .containerSignUp__select {
    text-align: center;
    font-size: 1.5em;
    border-radius: 2em;
    text-decoration: none;
    outline: none;
    border: solid 2px #C16F38;
    color: #C16F38;
    background-color: #CEE0C7;
    padding: .8em .8em;
    margin: 1.5em; }
    .containerSignUp__select--heading {
      text-decoration: none;
      outline: none; }
    .containerSignUp__select--option {
      text-decoration: none;
      outline: none; }
  .containerSignUp__select:active {
    text-decoration: none;
    outline: none; }
  .containerSignUp__select:hover {
    color: #CEE0C7;
    background-color: #C16F38;
    text-decoration: none;
    outline: none; }

label {
  font-size: 2em;
  color: #60371c; }

.btn_signUp {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
  border-radius: 2em;
  font-family: 'Bitter', serif;
  font-size: 1.5em;
  color: #CEE0C7;
  background-color: #C16F38;
  padding: 1em 4em;
  margin: 1em; }

.btn_signUp:hover {
  color: #C16F38;
  background-color: #CEE0C7;
  border: solid 2px #C16F38; }

.form-control {
  background-color: #CEE0C7;
  color: #60371c;
  font-size: 1.5em;
  text-decoration: none;
  outline: none; }
