.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 3em;
    font-family: $font-sanSerif;
    &__Container{
        // width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        &--button1{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            width: 50%;
            color: $color-primary-dark;
            background-color: $color-tertiary;
            padding: 1em;
            border-width: 0px 0px 1px 0px;
            border-style: solid;
            border-color: $color-primary-dark;
            border-radius: 1em 1em 0em 0em;
        }
        &--button1:hover{
            color: $color-primary-light;
            background-color: $color-secondary-dark;
        }
        &--button2{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            width: 50%;
            color: $color-primary-dark;
            background-color: $color-tertiary;
            padding: 1em;
            border-width: 1px 0px 1px 0px;
            border-style: solid;
            border-color: $color-primary-dark;
        }
        &--button2:hover{
            color: $color-primary-light;
            background-color: $color-secondary-dark;
        }
        &--button3{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            width: 50%;
            color: $color-primary-dark;
            background-color: $color-tertiary;
            padding: 1em;
            border-width: 1px 0px 1px 0px;
            border-style: solid;
            border-color: $color-primary-dark;
        }
        &--button3:hover{
            color: $color-primary-light;
            background-color: $color-secondary-dark;
        }
        &--button4{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            width: 50%;
            color: $color-primary-dark;
            background-color: $color-tertiary;
            padding: 1em;
            border-width: 1px 0px 0px 0px;
            border-style: solid;
            border-color: $color-primary-dark;
            border-radius: 0em 0em 1em 1em;
        }
        &--button4:hover{
            color: $color-primary-light;
            background-color: $color-secondary-dark;
        }
       
    }
}