#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.bg-img{
    width: 100vw;
}
.hero-area {
  position: relative;
  z-index: 1;
  margin-left: 4%;
  margin-right: 4%; }

.hero-slides {
  position: relative;
  z-index: 1; }
  .hero-slides .single-hero-slide {
    width: 100%;
      background-repeat: no-repeat;
      background-size:100% auto;
    height: 820px;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .hero-slides .single-hero-slide {
        height: 650px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .hero-slides .single-hero-slide {
        height: 650px; } }
    @media only screen and (max-width: 767px) {
      .hero-slides .single-hero-slide {
        height: 650px; } }
    .hero-slides .single-hero-slide .hero-slides-content {
      position: relative;
        margin-top: 150px;
      z-index: 1;
      padding: 60px 50px;
      background-color: rgba(24, 24, 24, 0.54); }
      @media only screen and (max-width: 767px) {
        .hero-slides .single-hero-slide .hero-slides-content {
          padding: 30px 20px; } }
      .hero-slides .single-hero-slide .hero-slides-content h2 {
        font-size: 30px;
        color: #ffffff;
        margin-bottom: 30px;
        font-weight: 600; }
        @media only screen and (max-width: 767px) {
          .hero-slides .single-hero-slide .hero-slides-content h2 {
            font-size: 24px; } }
      .hero-slides .single-hero-slide .hero-slides-content p {
        font-size: 16px;
        margin-bottom: 50px;
        color: #ffffff; }
  .hero-slides .owl-prev,
  .hero-slides .owl-next {
    text-decoration: none; 
    outline: none; 
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    top: 50%;
    margin-top: -20px;
    left: 4%;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-bottom: 3px solid #1c8314; }
    @media only screen and (max-width: 767px) {
      .hero-slides .owl-prev,
      .hero-slides .owl-next {
        font-size: 30px; } }
  .hero-slides .owl-next {
    left: auto;
    right: 4%; }
  .hero-slides:hover .owl-prev, .hero-slides:hover .owl-next {
    opacity: 1;
    visibility: visible; }
  .hero-slides .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 50px;
    z-index: 10;
    width: 80%;
    left: 17%; }
    .hero-slides .owl-dots .owl-dot {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      margin-right: 10px; }
      .hero-slides .owl-dots .owl-dot.active {
        color: #1c8314; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breakpoint-on .classynav ul li.cn-dropdown-item > a::after,
  .breakpoint-on .classynav ul li.megamenu-item > a::after {
    top: 10px; } }
@media only screen and (max-width: 767px) {
  .breakpoint-on .classynav ul li.cn-dropdown-item > a::after,
  .breakpoint-on .classynav ul li.megamenu-item > a::after {
    top: 10px; } }
.delicious-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background-color: $color-secondary; }
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: $color-primary;
    border-color: #40ba37; }

span{
    color: white;
    font-size:7em;
    text-decoration: none; 
    outline: none; 
}
.recipeName{
  font-family: $font-cursive;
  color: $color-accent;
}
.recipe_Button{
  text-decoration: none; 
  outline: none; 
  border: none;
  font-size: 2.5em;
  background-color: $color-secondary;
  color: $color-tertiary;
  padding: 1em;
  border-radius: .5em;
  margin: .5em;
}
.favorite_Button{
  text-decoration: none; 
  outline: none; 
  border: none;
  font-size: 2.5em;
  background-color: $color-secondary;
  color: $color-tertiary;
  padding: 1em;
  border-radius: .5em;
  margin: .5em;
}
.recipe_Button:hover{
  background-color: $color-secondary-dark;
  color: $color-tertiary;
  text-decoration: none; 
  outline: none; 

}
.recipe_Button:link{
  text-decoration: none; 
  outline: none; 

}
.recipe_Button:active{
  text-decoration: none; 
  outline: none; 

}
.recipe_Button:visited{
  text-decoration: none; 
  outline: none; 
}
.favorite_Button:hover{
  background-color: $color-secondary-dark;
  color: $color-tertiary;
  text-decoration: none; 
  outline: none; 

}
.favorite_Button:link{
  text-decoration: none; 
  outline: none; 

}
.favorite_Button:active{
  text-decoration: none; 
  outline: none; 

}
.favorite_Button:visited{
  text-decoration: none; 
  outline: none; 
}
.modal-header{
  font-size: 4em;
  color: $color-secondary-dark;
  background-image: radial-gradient($color-primary-light,$color-tertiary);
 
}
.modal-body{
  font-size: 2.5em;
  font-family: $font-cursive;
  color: $color-tertiary;
  background-image: linear-gradient(-90deg, $color-primary,$color-primary-dark);
}
.modal-footer{
  font-size: 2.5em;
  color: $color-primary-light;
  background-color: $color-primary-darkest;
}
.modal-dialog{
  background-image: linear-gradient(-90deg, $color-primary,$color-primary-dark);
}
.modal_Button{
  text-decoration: none; 
  outline: none; 
  border: none;
  font-size: 1.5em;
  background-color: $color-secondary-dark;
  color: $color-tertiary;
  padding: .5em;
  // border-radius: 0em 2em 2em 0em;
}
.containerModal{
  &__logo{
    &--img{
      height: 5em;
    }
  }
}