.containerSignUp{
    // width: 70%;
    // display: flex;
    // // flex-direction: column;
    // justify-content: center;
    // align-content: center; 
    font-family: 'Bitter', serif;
    &__heading{
        text-align: center;
        font-size: 4em;
        color: $color-secondary-dark;
    }
    &__message{
        font-size: 2em;
        color: $color-secondary-dark;

    }
    &__select{
        text-align: center;
        font-size: 1.5em;
        border-radius: 2em;
        text-decoration: none;
        outline: none; 
        border: solid 2px $color-secondary;
        color: $color-secondary;
        background-color: $color-primary-light;
        padding: .8em .8em;
        margin: 1.5em;
        &--heading{
            text-decoration: none;
            outline: none; 
        }
        &--option{
            text-decoration: none;
           
            outline: none; 
        }
    }
    &__select:active{
        text-decoration: none; 
        outline: none; 
    }
    &__select:hover{
        color: $color-primary-light;
        background-color: $color-secondary;
        text-decoration: none; 
        outline: none; 
    }
    }

label{
    font-size: 2em;
    color: $color-secondary-dark;
}
.btn_signUp{
    @include button-reset;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            border: solid 2px transparent;
            border-radius: 2em;
            font-family: 'Bitter', serif;
            font-size: 1.5em;
            color: $color-primary-light;
            background-color: $color-secondary;
            padding: 1em 4em ;
            margin: 1em;
}

.btn_signUp:hover{
    text-decoration: none; 
    outline: none; 
    color: $color-secondary;
    background-color: $color-primary-light;
    border: solid 2px $color-secondary;
}
.btn_logIn{
    @include button-reset;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            outline: none;
            border: solid 2px transparent;
            border-radius: 2em;
            font-family: 'Bitter', serif;
            font-size: 1.5em;
            color: $color-primary-light;
            background-color: $color-secondary;
            padding: 1em 4.5em ;
            margin: 1em;
}

.btn_logIn:hover{
    color: $color-secondary;
    background-color: $color-primary-light;
    border: solid 2px $color-secondary;
}
.form-control{
    background-color: $color-primary-light;
    color: $color-secondary-dark;
    font-size: 1.5em;
    text-decoration: none; 
    outline: none; 
    border-radius: 2em;
}



// a{
// text-decoration:  none;
// font-size: 2em;
// color: $color-primary-light;

// }
// a:link {
// /* Applies to all unvisited links */
// text-decoration:  none;
// color: $color-primary-light;

// } 
// a:visited {
// /* Applies to all visited links */
// text-decoration:  none;

// } 
// a:hover   {
// /* Applies to links under the pointer */
// text-decoration:  none;
// color: $color-secondary;

// } 
// a:active  {
// /* Applies to activated links */
// text-decoration:  none;

// } 